#train_button, 
#train_button.notStarted {
	background-color:#007bdb;
	color:#EEEEEE;
}

#train_button.ready,
#train_button.inProgress {
	background-color:green;
	color:#000000;
}

#train_button.hasError {
	background-color:#e22626b0;
	color:#000000;
}

#train_steps > tbody > tr > td {
	padding: 0;
	padding-top: 3px;
}

#train_steps tr {
	  height: 10px; 
  } 

#train_div {
    float: left;
    left: -70%;
    position: relative;
    padding-top: 20px;
    width: 280px;
}

#train_message_div {
    width: 200px;
    float: right;
    position: relative;
    top: -200px;
}

#train_message_div > p:first-child {
	color: red;
	font-weight: bold;
}

#train_message_div > p:nth-child(2) {
	color: #333333;
	font-weight: bold;
	overflow-y: scroll;
	background: #DDDDDD;
	padding: 3px;
	padding-left: 5px;
}

#reset_button {
	float:left;
}
	
