<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="awsEventPurchase" instance="CustomerParadigm\AmazonPersonalize\Observer\PurchaseObserver" />
    </event>
    <event name="sales_order_save_before">
        <observer name="awsEventOrderSaveBefore" instance="CustomerParadigm\AmazonPersonalize\Observer\OrderAttributeObserver" />
    </event>
    <event name="awsp_wizard_runsteps_before">
        <observer name="awspWizardRunStepsBefore" instance="CustomerParadigm\AmazonPersonalize\Observer\WizardRunStepsBeforeObserver" />
    </event>
    <event name="awsp_wizard_runsteps_after">
        <observer name="awspWizardRunStepsAfter" instance="CustomerParadigm\AmazonPersonalize\Observer\WizardRunStepsAfterObserver" />
    </event>
</config>
